@import './base.css';

@media screen and (max-width:425px) {

    .bg-intro-left-form,
    .bg-intro-right-form,
    .bg-third-section-form {
        display: none;
    }

    .body-layout {
        width: 100vw;
        height: 100%;
        display: grid;
        grid-template-rows: 10vh auto 1025px;
        grid-row-gap: 1rem;
        grid-template-columns: 375px;
        align-items: center;
    }

    /* HEADER MOBILE 425px */

    header {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header-nav ul {
        display: none;
    }

    .image-logo {
        position: absolute;
        left: 24px;
        align-self: center;
    }

    .hamburger-containment {
        position: absolute;
        right: 24px;
        height: 32px;
        width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--neutral-dark-violet);
    }

    .hamburger-line {
        height: 5%;
        width: 50%;
        margin: 0.1em;
        background-color: var(--neutral-dark-violet);
    }

    /* MAIN MOBILE 375px max */

    main {
        width: 100%;
        height: 100%;
        grid-row: 2;
        grid-column: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3fr 3.4fr auto;
    }

    #line {
        display: none;
    }

    #first-section {
        grid-row: 1;
        grid-column: 1;
        background-color: var(--primary-dark-violet);
        display: flex;
        height: 951px;
        max-width: 100vw;
        display: grid;
        grid-template-rows: 451px 500px;
        grid-template-columns: auto;
    }


    #image-intro {
        grid-row: 1;
        grid-column: 1;
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    #first-section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        grid-column: 1;
        height: auto;
        max-width: 100vw;
    }

    #first-section-text h1 {
        text-align: center;
        margin: 0 auto;
        height: 96px;
        width: 327px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 400;
        letter-spacing: -0.67px;
        font-family: var(--headings-fonts);
    }

    #first-section-text p {
        height: 130px;
        width: 327px;
        font-size: 16px;
        line-height: 26px;
        font-family: var(--body-fonts);
        padding-top: 16px;
        text-align: center;
        margin: 0 auto;
    }

    #first-section-text button {
        width: 146px;
        height: 40px;
        margin: 32px auto 93px auto;
        background-color: transparent;
        border: 1px solid var(--neutral-light-grey);
        color: var(--neutral-light-grey);
    }

    /* SECOND SECTION - MOBILE 425px */

    #second-section {
        margin-top: 140px;
        grid-row: 2;
        min-width: 100vw;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #line-2 {
        width: 150px;
        height: 1px;
    }

    .second-section-title {
        display: none;
    }

    .second-section-title-mobile {
        position: relative;
        display: block;
    }

    #line-resp-2 {
        display: block;
        height: 1px;
        width: 150px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: var(--neutral-dark-grayish);
    }

    .second-section-title-mobile h2 {
        height: auto;
        width: 100vw;
        margin: 0;
        text-align: center;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.67px;
        font-family: var(--headings-fonts);
        margin-bottom: 80px;
    }

    #icon-articles {
        min-height: 862px;
        min-width: 327px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;

    }

    #icon-articles article {
        width: 327px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    #icon-articles article p {
        text-align: center;
    }

    /* Main - third section */

    #third-section {
        grid-column: 1;
        grid-row: 3;
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        min-height: 20vh;
    }

    #third-section-text {

        max-width: 95%;
        height: auto;
        padding: 1rem 0.5rem;
        margin: 1rem auto;
        background-color: var(--primary-dark-violet);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

    }

    #third-section-text div:nth-of-type(1) {
        width: 90%;
        height: auto;
        text-align: center;
        position: relative;
        left: 0;

    }

    #third-section-text h2 {
        font-size: 40px;
        line-height: 1.5;
        letter-spacing: -0.56px;
        font-family: var(--headings-fonts);
        color: var(--neutral-light-grey);
    }

    #third-section-text button {
        position: relative;
        left: 0;
        margin: 2rem auto;
    }


    /* FOOTER */


    footer {
        margin-top: 140px;
        grid-row: 3;
        grid-column: 1;
        align-self: start;
        display: flex;
        flex-direction: column;
        background-color: var(--neutral-light-grey);
    }

    #footer-nav-1 {
        margin-top: 88px;
        display: grid;
        grid-template-rows: 1fr 32px 1fr;
        grid-template-columns: 375px;
        align-items: center;
        justify-items: center;
    }

    #footer-nav-1 .image-logo {
        position: unset;
        height: 18px;
        grid-row: 1;
        grid-column: 1;

    }

    #social-icon {
        grid-row: 3;

    }

    #footer-nav-2 {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #footer-nav-2 div {
        width: 255px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footer-nav-2 div h4 {
        line-height: 15px;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: var(--neutral-dark-grayish);
        font-family: var(--body-fonts);
    }

    #footer-nav-2 div ul {
        padding: 0;
    }

    #footer-nav-2 div ul li a {
        color: var(--primary-dark-violet);
        font-family: var(--body-fonts);
        text-transform: uppercase;
        text-decoration: none;
    }

    .attribution {

        color: var(--primary-greyish-blue);
        text-align: center;
        flex-direction: column;
    }

    .attribution p {
        margin: 0.1em;
    }

}