@import './base.css';
@import './variables.css';

@media screen and (max-width:1024px) {

    header {
        position: fixed;
        top: 0;
        background-color: var(--neutral-light-grey);
        width: 100%;
        height: 10vh;
        grid-row: 1;
        grid-column: 1;
        grid-template-columns: auto;
    }

    .header-nav {
        display: none;
    }

    .image-logo {
        position: fixed;
        z-index: 3;
        left: 1.5rem;
        top: 1.9375rem;
        width: 7rem;
        height: 1.125rem;
        align-self: center;
    }



    .mobile-nav-icon {
        display: block;
        width: 100%;
        height: 10vh;
        background: var(--neutral-light-grey);
        /* Optional */
        position: relative;
        z-index: 2;
        cursor: pointer;
    }


    /* (B) HORIZONTAL MENU ITEMS */
    .mobile-menu {
        display: none;
    }

    .mobile-menu li a {
        font-size: 1.5rem;
        position: relative;
        z-index: 3;
        margin-bottom: 1.5rem;
        padding: 0;
        color: white;
        background-color: var(--primary-dark-violet);
        text-decoration: none;
        text-align: center;
        display: flex;
        place-content: center;
        align-items: center;
        width: 100%;
        height: 2.5rem;
    }

    .mobile-menu li a:hover {
        transform: scale(1.5);
        transition: transform 1s ease-in;
    }

    /* hide hamburger menu */
    .mobile-nav-icon label,
    #hamburger {
        display: none;
    }

    /* show hamburger icon */
    .mobile-nav-icon label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: black;
        background: white;

        width: 32px;
        height: 32px;

        position: fixed;
        z-index: 2;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
        font-style: normal;
        font-size: 1rem;
        font-weight: 700;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        border: 2px solid black;
    }

    .mobile-nav-icon label span {
        width: 100%;
        border-top: 2px solid black;
    }

    /* toggle menu */
    .mobile-menu {
        display: none;
    }

    .mobile-menu ul {
        padding: 0 24px;
        padding-top: 40px;
        margin: 0;
    }

    .mobile-nav-icon input:checked~.mobile-menu {
        width: 100%;
        height: 90vh;
        background-color: var(--primary-dark-violet);
        transition: all 2s ease-in;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10vh;
        z-index: 3;
        padding: 0;
        transition: all 1.5s ease-in;
    }

    .mobile-nav-icon input:checked+label {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .mobile-nav-icon input:checked+label span:nth-of-type(2) {
        border-top: none;
    }

    .mobile-nav-icon input:checked+label span:nth-of-type(1) {
        transform: rotate(135deg) translateX(10%) translateY(-50%);
        border-top: 3px solid black;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .mobile-nav-icon input:checked+label span:nth-of-type(3) {
        transform: rotate(-135deg) translateX(0%) translateY(20%);
        border-top: 3px solid black;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .view-plans {
        border: 1px solid var(--neutral-light-grey);
        color: var(--neutral-dark-violet);
        cursor: pointer;
    }

    .view-plans:active {
        background-color: var(--neutral-dark-violet);
    }

    .bg-nav-form-mobile {
        display: block;
        position: absolute;
        bottom: 0;
    }


}