@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-dark-violet: rgb(45, 38, 64);
    --primary-dark-violet-transparent: rgba(45, 38, 64, 0.5);
    --primary-greyish-blue: rgb(149, 169, 198);

    --neutral-dark-violet: hsl(270, 9%, 17%);
    --neutral-dark-grayish: hsl(273, 4%, 51%);
    --neutral-light-grey: hsl(0, 0%, 98%);

    --white-focus-btn: hsl(0, 100%, 100%);

    --headings-fonts: 'DM Serif Display', serif;
    --body-fonts: 'Karla', sans-serif;



}